@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

.header {
  text-align: center; /* center the text */
}
/* Increase the font size of the <h1> element */
h1 {
  font-family: 'Atkinson Hyperlegible', 'Roboto Serif', sans-serif;
  font-size: 104px;
  text-align: center; /* center the text */
}

button{
  font-size: 14px;
}

body {
  font-family: 'Atkinson Hyperlegible', 'Roboto Serif',sans-serif;
  background-color: #423531;
  color:#EEECEB;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #E3CACB;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
p{
  margin-left: 10vw;
  margin-right: 5vw;
  text-align: justify;
font-size: large;
}

.bubble{
  background-color: #6E5750;
  border-radius: 8vw;
  padding:1%;
}
#me{
  border-radius: 2vw;
  height: 60vh;
  width:20vw;
  display: block;
  margin-left: auto;
  margin-right: 5vw;
  clear: left;
}
.icon{
  width:3vw;
  height:6vh;
  float:right;
  margin-right:1vw;
}
.icon:hover {
  opacity: 0.6;
  transition: opacity 0.5s;
}
.footer {
  padding: 25px; /* some padding */
  text-align: center; /* center the text */
}
  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    font-size: 200%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }
  
  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }