@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

header{
  font-family: 'Atkinson Hyperlegible', 'Roboto Serif', sans-serif;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: left /* Center items horizontally */
  text-align: center; /* Center text */
}
/* Increase the font size of the <h1> element */
h1 {
  margin-left: 3rem;
  margin-top: 0;
  margin-bottom:6rem;
  text-size-adjust: 75%;
}
h2 {
  font-size: 4rem;
  margin-left: 2.4rem;
  margin-top: 0;
  margin-bottom:6rem;
}
h3 {
  margin-left: 2.4rem;
margin-bottom:1em;
  margin-top:0.5em;
  padding-top: 0.5em;
  padding-bottom:0.5em;
  display:flex;
}
h4 {
  font-size: 3rem;
  margin-left: 2.4rem;
}


a {
  color: #a0c977;
  text-align: left;
  display: inline-block; /* Allow the element to be inline with the image */

}
a:hover{
  color: #2F332B;
}
#menu{
  width:6.25rem;
  height:6.25rem;
  top: 0.5rem;
  right: 1rem;
  left: width;
  margin-left: auto; /* Pushes the image to the right */
  margin-right: 1.2rem; /* Pushes the image to the right */
  margin-top: 1.2rem; /* Pushes the image to the right */
}
#menu:hover{
  filter: contrast(200%);
  transition: filter 0.5s;

}

body {
  font-family: 'Atkinson Hyperlegible', 'Roboto Serif',sans-serif;
  background-color: #423531;
  background-image: linear-gradient(to top right, #000000,#110D0C,#211B19,#322825,#423531,#6F5953,#9A7F77);
  color:#EEECEB;
  text-align: left; /* center the text */
  min-height:90vh;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #EEDFE0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75rem;

}

.sidenav a {
  font-family: 'Atkinson Hyperlegible', 'Roboto Serif',sans-serif;
  padding: 1.5rem 0.5rem 1.4rem 4.5rem;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
  color: #462526;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #F9F4F5;
  background-color: #8C4A4D;
}

.sidenav .closebtn {
  position: absolute;
  top: 1rem;
  right: 1.563rem;
  width:1.5rem;
  height:1.5rem;
  font-size: 2.25rem;
  margin-left: 3.125rem;
}

@media screen and (max-height: 28.125rem) {
  .sidenav {padding-top: 0.938rem;}
  .sidenav a {font-size: 1.125rem;}
}


.parallax {
  height: 31.25rem; /* fallback for older browsers */
  width: 67.5rem;
  font-size: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 18.75rem;
  perspective: 18.75rem;
}

.parallax__group {
  position: relative;
  height: 31.25rem; /* fallback for older browsers */
  width: 67.5rem;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}


.footer {
  padding: 1.563rem; /* some padding */
  position: relative; /* Ensure positioning context for absolute positioning */
}


#shuffle{
  width: 6.25rem;
  height: 6.25rem;
  margin-bottom:1.2rem;
  margin-right:1.2rem;
  margin-left: auto;
  display: flex;
}
#shuffle:hover{
  filter: contrast(200%);
  transition: filter 0.5s;
}
.imgFormat {
  text-align: left;
  float:left;
  margin-left: 2.4rem;
  margin-right:6%;
  margin-bottom:1%;
}
.imgFormatVert {
  margin-left: 6.3rem;
  margin-right:6%;
  margin-bottom:2em;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}
.buttons > button {
  font-family: 'Atkinson Hyperlegible', 'Roboto Serif',sans-serif;
  background-color: #E3CACB;
  font-size: 1.7rem;
  font-weight:bold;
  color:#2C3130;
  border: none;
  padding: 2.5rem; /* Adjusted padding: 150px top/bottom, 50px left/right */
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  align-items: center; /* Center the buttons vertically */
  margin: 3rem;
  justify-content: space-between;
  width: 22.375rem;
  height:13.875rem;
  border-radius: 1.25rem;
  transform-origin: center;
}

button:hover {
  background-color: #577836;
  color: #EEECEB;
  transition: background-color 0.5s, color 0.5s;
}

  /* Add styles to the form container */
  .form-container {
    display: none;
    position: absolute;
    z-index: 0; /* Sit on top */
    color: #2C3130;
    bottom: 0;
    right: 30em;
    border-radius: 1.25rem;
    background-color: #FFE1E1;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: cssAnimation;
  }
.formbtn {
  position: absolute;
  top: 1rem;
  width:1.75rem;
  height:2rem;
  font-size: 2.25rem;
  display: block;
}
.formbtn :hover {
  opacity: 0.6;
  transition: opacity 0.5s;}
  * {
    box-sizing: border-box;
  }

.description{
  text-align: left;
  display: inline-block; /* Allow the element to be inline with the image */
  background-color: #8C4A4D;
  color: #EEECEB;
  border-radius: 1.25rem;
}

.mySlides01, .mySlides02, .mySlides03, .mySlides04, .mySlides05{
  display:none;
}
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  color: #2F332B;
  text-align: center;
  bottom: 0;
  width:3rem;
  height:0.313rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 2.5rem;
  padding-left: 0;
  font-size: 1.8rem;
  margin-top: auto;
  margin-bottom: 1.875rem;
  margin-left: 0.5rem;
  margin-right: auto;
  user-select: none;
  -webkit-user-select: none


}

/* Position the "next button" to the right */
.next {

  border-radius: 1rem 1rem;
}

/* Position the "next button" to the right */
.prev {
  left: 1.25rem;
  border-radius: 1rem 1rem;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #577836;
  color: white;
}
  /* Number text (1/3 etc) */
  .numbertext {
    font-family: "Comfortaa", sans-serif;
    color: #2F332B;
    font-size: 0.75rem;
    padding: 0.5rem 0.75rem;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
  }

.footer {
  padding: 1.563rem; /* some padding */
  position: relative; /* Ensure positioning context for absolute positioning */
}
@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: rotate(0deg) scale(0.5) skew(0deg) translate(0,250vh);
    opacity:0;
  }
  to {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0,95vh);
    opacity:1;
  }

}

@media screen and (min-width: 601px) {
h1{
    font-size: 6.5rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1201px) {
  .form-container{
    width:72.625rem;
    height:43.75rem;
    left:18vw;
    top: -50vh;
  }
  h3{
    font-size: 3.5rem;
    flex-wrap:nowrap;
  }
  p{
    font-size: 1.3rem;
    margin-left: 2.4rem;
  }
  .imgFormat{
    width:31.25rem;
    height:23.188rem;
    margin-top: -20em;
  }
  .imgFormatVert{
    height:31.25rem;
    width:23.188rem;
    margin-top: -22em;
  }
  .description{
    padding-left: 0.5rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
   margin-bottom: 3rem;
    margin-left: 42rem; /* You can adjust this margin to control the gap */
    width: 24rem; /* Let the width adjust according to content */
height:20em;
    margin-top: -5em; /* Remove any top margin */
  }
  a{
    margin-left: 2.2rem; /* You can adjust this margin to control the gap */
    font-size: 1.1rem;
  }
  .formbtn {
    left: 67rem;
    margin-left: 2.4rem;
  }
  .next{
    left: 31.25rem;
  }
}

@media screen and (max-width: 1200px) {

  .form-container{
    width:40rem;
    height:30rem;
    left:5vw;
  }
  h3{
    font-size: 1.6rem;
    flex-wrap:wrap;
  }
  p{
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-left: 1.5rem;
  }
  .imgFormat{
    width:20rem;
    height:15rem;
    margin-top: -20em;
  }
  .imgFormatVert{
    height:18rem;
    width:15rem;
    margin-left: 5.2rem;
    margin-top: -22em;
  }
  .description{
    padding-left: 0.5rem;
    margin-left: 24rem; /* You can adjust this margin to control the gap */
    width: 12rem; /* Let the width adjust according to content */
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    height:20em;
    margin-top: -2em; /* Remove any top margin */
  }
  a{
    margin-left: 1.5rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .formbtn {
    left: 35rem;
    margin-left: 2rem;
  }
  .next{
    left: 20rem;
  }
}